<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.urlbase }}/" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.urlbase }}/">Home</a></li>
            <li><a href="{{ site.urlbase }}/blog/">Blog</a></li>
            {% for page in site.pages %}
                  {% if page.title %}
                    <li><a class="page-link" href="{{ page.url }}">{{ page.title }}</a></li>
                  {% endif %}
            {% endfor %}
        </ul>
    </nav>
</header>